.entry-table {
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr {    
        &:nth-child(even) {
            background: #f2f2f2;
        }
        
        &:hover {
            background: #ddd;
        }
    }
    
    th {
        background: #50b0fa;
        padding: 12px 0 12px 0;
    }
}

.login-form-wrapper {
    padding-top: 25vh;
}

.login-form {
    margin: 0 auto 0 auto;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10%;
    
    button, #inputPassword {
        width: 100%;
    }
}

.center-text {
    text-align: center;
}
