@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    padding-top: 35px;
}

.entry-table {
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr {    
        &:nth-child(even) {
            background: #f2f2f2;
        }
        
        &:hover {
            background: #ddd;
        }
    }
    
    th {
        background: #50b0fa;
        padding: 12px 0 12px 0;
    }
}

#login-page-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #171c26;
    font-family: 'Open Sans', sans-serif;
}

.login-headline {
    margin: 0;
    padding: 1opx 0;
}

.login-form-wrapper {
    margin: 28vh auto;
    width:320px;
}

.login-form {
    padding: 10px 20px;
    background: #cecece0f;

    form {
        margin: 0;
    }

    h2 {
        margin: 5px 0;
    }
    
    button, #inputPassword {
        margin: 6px 0;
        padding: 8px 12px;
        width: 100%;
        background: #d7dbe732;
        border: none;
        transition: all ease-in-out .2s;
    }

    button:hover, #inputPassword:hover {
        background: #d7dbe766;
    }

    .checkbox-wrapper {
        margin: 2px 0;

        label {
            position: relative;
            display: inline-block;
            padding-left: 1.5em;
            height: 1.5em;

            input {
                display: none;
            }

            input ~ .checkbox {
                display: inline-block;
                width: 1em;
                height: 1em;
                position: absolute;
                left: 0;
                top: 0;
                margin: .15em 0;
                background: #d7dbe732;
                transition: all ease-in-out .2s;
            }

            input:checked ~ .checkbox {
                background:white;
            }
        }
    }
}

.center-text {
    text-align: center;
}

.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    background: #a0a0f5;
    
    ul {
        display: flex;
        
        li {
            &:first-child {
                
                width: 40px;
                
                a {
                    background: no-repeat url("/static/img/icon.png");
                    height: 19px;
                    margin: 0 0 0 4px;
                }
            }
        
            &:hover {
                background: #c0c0ff;
            }
            
            &:last-child {
                margin-left: auto;
            }
        }
        
        .current {
            background: #8585e0;
        
            a {
                pointer-events: none;
                cursor: default; 
            }
            
            &:hover {
                background: #8585e0;
            }
        }
        
        a {
            display: block;
            padding: 8px;
            color: #111;
        }
    }
}
