body, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.entry-table {
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    tr {    
        &:nth-child(even) {
            background: #f2f2f2;
        }
        
        &:hover {
            background: #ddd;
        }
    }
    
    th {
        background: #50b0fa;
        padding: 12px 0 12px 0;
    }
}

.login-form-wrapper {
    padding-top: 25vh;
}

.login-form {
    margin: 0 auto 0 auto;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10%;
    
    button, #inputPassword {
        width: 100%;
    }
}

.center-text {
    text-align: center;
}

.navigation {
    background: #a0a0f5;
    
    ul {
        display: flex;
        
        li {
             &:hover {
                background: #c0c0ff;
            }
            
            &:last-child {
                margin-left: auto;
            }
        }
        
        .current {
            background: #8585e0;
        
            a {
                pointer-events: none;
                cursor: default; 
            }
            
            &:hover {
                background: #8585e0;
            }
        }
        
        a {
            display: block;
            padding: 8px;
            text-decoration: none;
            color: #111;
        }
    }
}
