{% extends 'layout.html' %}

{% block content %}

<form method="post" action="/create/entry">
	<label for="amount">Amount</label>
	<input id="amount" name="amount" type="number" placeholder="Amount" step="0.01" required>
	<label for="desc">Description</label>
	<input id="desc" name="desc" type="text" placeholder="Description (optional)">
	<label for="date">Date</label>
	<input id="date" name="date" type="date" placeholder="Date" required>
    <div>
        {%  for tag in tags %}
            <label>
                {{ tag[1] }}
                <input name="tag" type="checkbox" value="{{ tag[0] }}">
            </label>
        {% endfor %}
    </div>
	<button type="submit">Create</button>
</form>

<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Desc</th>
    </tr>    
    {% for entry in acc_entries %}
        <tr>
            <td>{{ entry[2] }}</td>
            <td>{{ entry[3] }}</td>
            <td>{{ entry[4] }}</td>
        </tr>
    {% endfor %}
</table>

<br><br>

<form method="post" action="/create/tag">
	<label for="tag">Name</label>
	<input id="tag" name="tag" type="text" placeholder="Tag name" required>
	<button type="submit">Create</button>
</form>

<ul>
	{% for tag in tags %}
		<li>{{ tag[1] }}</li>
	{% endfor %}
</ul>

{% endblock %}
