<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{{ url_for('static', filename='dist/all.css') }}">

<title>Muh money stats</title>

{% if session['login'] %}
<nav class="navigation">
    <ul>
        {% for action, route, name in (('index', '/', 'Start'), 
                                       ('entries', '/entries', 'Entries'),
                                       ('tags', '/tags', 'Tags'),
                                       ('logout', '/logout', 'Logout')) %}
         <li {{ 'class=current' if request.path == route }}>
            <a href="{{ url_for(action) }}">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='dist/main.js') }}"></script>
